.container {
    display: flex;
    height: 100vh;
  }
  
  .input-box {
    width: 500px;
    align-items: center;
  }

  .login-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px;
  }
  .img-fluid {
    flex: 1;
    display: flex;
  }
  .left-side {
    background-color: rgb(207, 227, 234);
    object-fit: cover;
    object-position: left;
  }
  
  .image-container {
    max-width: 80%;
    max-height: 80%;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  .right-half {
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-form {
    width: 80%;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  
    h2 {
      margin-top: 0;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      .form-group {
        margin: 10px 0;
  
        label {
          display: block;
        }
  
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
  
      button {
        margin-top: 10px;
        padding: 10px;
        background-color: lightblue;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  