.profile {
    height: 70vh;
    width: 50%;
    background-color: rgba(128, 128, 128, 0.3);
    margin-left: 25%;
    margin-top: 8vh;
    border-radius: 15px;
    display: flex;
}

.user_details {
    margin: auto;
    position: relative;
    line-height: 12px;
}

.user_update_details {
    margin: auto;
    position: relative;
    line-height: 10px;
}

.profile_attr {
    color: gray;
}

.profile_val {
    font-weight: bold;
}

.profile_update {
    border-radius: 10px;
    border-width: 0;
    padding-left: 12px;
    height: 30px;
    background-color: rgba(254, 254, 254, 0.5);
}

.save{
    position: absolute;
    left: 15%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: #09ff00;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: #ffffff;
    font-weight: bold;
    box-shadow: 2px 2px 5px gray;
  }

  .cancel{
    position: absolute;
    left: 85%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: #969696;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: #ffffff;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(75, 75, 75);
  }